@import url(http://fonts.oogleapis.com/css?family=Shadows+Into+Light);
@font-face {
        font-family: Avantgarde;
        src: url("./po/AvantGarde.TTF");
}

.titre {
    color:#0A2D78;
    font-size:70px;
    font-weight:bold;
     font-family: Avantgarde, sans-serif;
     

}
h1{
    color: #0A2D78;
    font-weight:bold;
    font-family: Avantgarde,sans-serif;
}
h1 small{
    color:#0A2D78;
    border: 10px; 

}
body{
    color: black;
    font-family: Avantgarde, sans-serif;
    margin-left:  10px; 
    background-image:url(pic/B.jpg);
    background-attachment:fixed;
     font-weight:bold;
 
}


     
 .page-header {
      border-bottom: 5px solid #f5f5f5;
}  



#maCarte {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;   
}

#floating-panel {
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
