@import url(http://fonts.oogleapis.com/css?family=Shadows+Into+Light);
.urgent {
    color:red;
    font-size:large;
    font-weight:bold;

}
h1{
    color:black;
    font-weight:bold;
    font-family: sans-serif;
}
h1 small{
    color:black;
    border: 10px; 

}
body{
    color: black;
    font-family: sans-serif;
    margin-left:  10px; 
   
}
.temoignage p{
    font-family: 'Shadows Into Light',roboto;
    font-size: x-large;
}

#maCarte {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;   
}

#floating-panel {
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: greenyellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 déc. 2016, 18:11:26
    Author     : vivie
*/

